<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" position="end" fixedInViewport="false">
        <mat-toolbar class="sidnav-menu">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item (click)="drawer.toggle()" href="#banner-section">Banner</a>
            <a mat-list-item (click)="drawer.toggle()" href="#property-section">Propriedades</a>
            <a mat-list-item (click)="drawer.toggle()" href="#register-section">Contato</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="scrollable" cdkScrollable>
        <mat-toolbar color="primary">
            <img src="assets/images/Logo-RR-2-black.png" alt="Logo" style="height: 100%; padding-top: 5px;">
            <span class="space"></span>
            <a class="btn btn-primary" routerLink="/login" *ngIf="!isAuth">Entrar</a>
            <button class="btn btn-primary" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>