<div class="fixed-center backgroundImage">

    <div class="box">
        <div class="row justify-content-md-center">
            <h3>{{title}}</h3><br>
        </div>

        <form #f="ngForm" (ngSubmit)="register(f.value)">
            <div class="row justify-content-md-center">
                <div class="form-group ju col col-12 col-md-6">
                    <label for="firstName">Nome</label>
                    <input ngModel name="firstName" id="firstName" type="text" class="form-control" required>
                </div>
                <div class="form-group ju col col-12 col-md-6">
                    <label for="lastName">Sobrenome</label>
                    <input ngModel name="lastName" id="lastName" type="text" class="form-control" required>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="form-group ju col col-12 col-md-6">
                    <label for="cpf">CPF</label>
                    <input ngModel name="cpf" id="cpf" type="text" class="form-control" required>
                </div>
                <div class="form-group ju col col-12 col-md-6">
                    <label for="email">E-Mail</label>
                    <input ngModel name="email" id="email" type="email" class="form-control" required>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="form-group ju col col-12 col-md-6">
                    <label for="contactOne">Contato 1</label>
                    <input ngModel name="contactOne" id="contactOne" type="text" class="form-control" required>
                </div>
                <div class="form-group ju col col-12 col-md-6">
                    <label for="contactTwo">Contato 2</label>
                    <input ngModel name="contactTwo" id="contactTwo" type="text" class="form-control" required>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="form-group col col-12 col-md-6">
                    <label for="interest">Interesse</label>
                    <input ngModel name="interest" id="interest" class="form-control" required>
                </div>
            </div>
            <div class="row justify-content-md-center" style="position: relative;">
                <button class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>