@import "~bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html,
body {
    height: 100%;
}

body {
    margin: 0;
}

ngb-carousel.carousel {
    height: calc(100% - 100px);
    background-color: #80808075;
}

.btn.btn-primary {
    border-color: #ff1919;
    background-color: #ff1919;
    margin: 0px 5px 0px 5px;
}