<div class="fixed-center">
<div class="row justify-content-md-center">
    <h3>{{title}}</h3><br>
</div>

<form #f="ngForm" (ngSubmit)="register(f.value)">
    <div class="row justify-content-md-center">
        <div class="form-group ju col col-12 col-md-3">
            <label for="name">Nome</label>
            <input ngModel name="name" id="name" type="text" class="form-control" required>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="form-group ju col col-12 col-md-3">
            <label for="username">Usuário</label>
            <input ngModel name="username" id="username" type="text" class="form-control" required>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="form-group ju col col-12 col-md-3">
            <label for="email">E-Mail</label>
            <input ngModel name="email" id="email" type="text" class="form-control" required>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="form-group col col-12 col-md-3">
            <label for="password">Senha</label>
            <input ngModel name="password" id="password" type="password" class="form-control" required>
        </div>
    </div>
    <div class="row justify-content-md-center" style="position: relative;">
        <button class="btn btn-primary">Entrar</button>
    </div>
</form>

</div>